body {
    font-family: 'Minecraft', sans-serif;
    /* weight 400 and 700 */
    font-size: clamp(14px, 1.2vw, 18px);

    overflow-x: hidden;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/web-bg-blur.png);
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}
